<footer class="footer">
  <p>© 2022 - Codeable Critics</p>
  <p>Build with ❤ by</p>
  <div class="footer-content">
    <p class="mb-2"><i class="ri-linkedin-box-line linkedin"></i> Antony Huerto</p>
  </div>
</footer>